.tecno, .tools, .otros{
    padding: 2rem;
}
.icons {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.icons img {
  width: 60px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .otros .row {
    margin: 0 !important;
    gap: 0 !important;
  }
  
  .otros .col-md-6 {
    padding: 0 !important;
    margin-bottom: 0 !important;
  }
  
  .otros .col-md-6 p {
    margin-bottom: 0.5rem !important;
  }
  
  .otros .col-md-6:last-child p:last-child {
    margin-bottom: 0 !important;
  }
}